.txt-center{
    text-align: center;
  }
  
  .bg-grey{
    background: grey;
  }
  
  .max-auto{
    margin:auto;
  }
  
  .flex{
    display: flex;
  }
  
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
  
  